@fontface

{
    font-family: airstrike3d;
    src: url(../fonts/airstrikeb3d.ttf);
    font-weight: 300;
}
body {
    background-color: green;
    background-image: url(../img/congruent_outline.png);
    xbackground-size: cover;
    padding-top: 70px;
}
header {
    text-align: center;
    font-family: airstrike3d;
    color: #24b3fb;
    font-size: 50;
    text-shadow: 1px 1px 10px rgb(59, 0, 255);
}
.nav-lg {
    border: hidden 5px #000000;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    xpadding: 5px;
    font-family: Airstrike;
    background-color: rgba(255, 255, 255, 0.09);
    font-size: 30;
    display: inline-block;
    width: 406px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
.nav-lg a {
    font-size: 20;
}
.h1 {
    font-family: airstrike3d;
    color: #24b3fb;
}
.content {
    border: hidden 5px #000000;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 15px;
    font-family: helveticaneue;
    background-color: rgba(36, 179, 251, 0.79);
    color: black;
    margin-top: 15px;
    xmargin-right: 20px;
    xmargin-left: 20px;
}
.pagehead {
    text-align: center;
}
.contenthead {
    font-family: airstrike3d;
}
<!-- Navabar Styling --> .navbar-collapse li {
    padding: 0px;
    margin: 0px;
}
.navbar-collapse a:link {
    color: rgb(219, 219, 219);
}
.navbar-collapse a:visited {
    color: rgb(219, 219, 219);
}
.navbar-collapse a:hover {
    color: rgb(80, 80, 80);
}
.navbar-collapse.in a:link {
    color: rgb(219, 219, 219);
}
.navbar-collapse.in a:visited {
    color: rgb(219, 219, 219);
}
navbar-collapse.in a:hover {
    color: yellow;
}
.nav li a {
    padding: 8 15;
}
.nav li a:hover {
    background-color: transparent;
}
.navbar-collapse {
    max-height: none;
}
.panel {
    background-color: transparent;
}
.panel-title a {
    color: white;
}
.xpanel-body {
    color: white;
}
.dropdown-menu {
    background-color: rgba(221, 221, 221, 0.92);
}
.dropdown-menu li a:hover {
    background-color: #888;
}