/* Code property of Kevin Humphreys */

body {
    width: 100%;
    font-size: 26px;
    background-image: url(/./images/weather.png);
    background-attachment: fixed;
    color: black;
}
html {
    width: 100%;
}
.gallery {
    width: 250px;
    margin: 5px;
    border: 2px solid white;
}
.menu-item {
    margin-left: 5px;
    margin-right: 5px;
}
.destination-section {
    min-height: 600px;
    text-align: center;
    color: black;
    /** text-shadow: 1px 1px black, 0px 1px black, -1px 1px black, 1px 0px black, 1px -1px black; **/
    background-attachment: fixed;
    display: table;
}
.africa-section {
    background-image: url(/./images/map-of-africa.gif);
    background-size: cover;
}
.spain-section {
    background-image: url(/./images/italy/italy1.jpg);
    background-size: cover;
}
.france-section {
    background-image: url(/./images/italy/italy2.jpg);
    background-size: cover;
}
.greece-section {
    background-image: url(/./images/italy/italy3.jpg);
    background-size: cover;
}
.disney-section {
    background-image: url(/./images/italy/italy4.jpg);
    background-size: cover;
}
.carribean-section {
    background-image: url(/./images/italy/italy5.jpg);
    background-size: cover;
}
.intro-section {
    width: inherit;
    text-align: center;
    background: #eee;
    padding-top: 100px;
    padding-bottom: 10px;
}
.about-section {
    padding-top: 40px;
    height: 80%;
    text-align: center;
}
.cruises-section {
    height: 100%;
    text-align: center;
}
.contact-section {
    padding-top: 40px;
    text-align: center;
}
.section-text {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    display: table-cell;
}
.background-gray {
    background-color: #eee;
}
.background-white {
    background-color: #fff;
}
.background-blue {
    background-color: azure;
}

}
.gallery-div {
    padding-top: 60px;
    display: table-column;
}
.services-section {
    height: auto;
    padding-bottom: 20px;
}
.heading {
    max-width: 100%;
    height: auto;
    border-bottom: 20px;
}
.hawaii-section {
    background-image: url(/./images/hawaii.png);
}
.nav li a {
    font-size: 28px;
    color: black;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}
.europe-section {
    background-image: url(/./images/europe-map-countries.jpg);
    background-size: cover;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.caribbean-section {
    background-image: url(/./images/caribbean_map.gif);
    background-size: cover;
}
.intro-section {
    width: inherit;
    text-align: center;
    background: #eee;
    padding-top: 100px;
    padding-bottom: 10px;
}
.about-section {
    padding-top: 40px;
    height: 80%;
    text-align: center;
}
.cruises-section {
    background-image: url(/./images/cruise.jpg);
    height: 100%;
    text-align: center;
}
.contact-section {
    padding-top: 40px;
    text-align: center;
}
.galleria {
    width: auto;
    height: 500px;
}
